doctype html
html
  head
    meta(charset='utf-8')
    title #{file.name}
  body
    h1 Hi #{user}, Here are your file details

    h2 #{file.name}
    h3 Number of Special Characters: #{file.specialChars}
    h3 Total Number of Characters:   #{file.noOfChars}
